<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rojel.gsgfreiberg"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk 
        android:minSdkVersion="14" 
        android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/appname" >
        <activity
            android:name=".GSGFreibergActivity"
            android:label="@string/appname"
        	android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="DetailsActivity" 
            android:theme="@android:style/Theme.Holo.Dialog" 
			android:label="@string/detailsPopup"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".ClassChooser"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:label="@string/classChooserTitle"
            android:screenOrientation="portrait">
        </activity>
		<activity
			android:name=".TeacherListActivity"
			android:theme="@android:style/Theme.Holo"
			android:label="@string/teacherlist"
			android:screenOrientation="portrait">
		</activity>
	</application>
</manifest>
